<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Test Configuration</string>
    <!--
        Profiles describe platform-dependent pipelines used for stream processing.
    -->
    <key>profileDirectory</key>
    <string>/usr/local/share/vmpserverd/profiles</string>

    <!--
        Specify the address and port of the RTSP server here.
        The rtspAddress is the IP address of the interface to bind to.
    -->
    <key>rtspAddress</key>
    <string>0.0.0.0</string>
    <key>rtspPort</key>
    <string>8554</string>
    <!--
        Specify the port of the HTTP server here.
        We are currently listening to all interfaces.
    -->
    <key>httpPort</key>
    <string>8080</string>
    <!--
        Specify the mountpoints of the RTSP server here.

        A mountpoint consists of a path, type, and channel configuration.
        The path is a component of the RTSP URL (e.g. rtsp://localhost:8554/<PATH>).

        Currently, the following types are supported:
            - single: A single video channel
            - combined: A video channel with a secondary video channel

        The channel values map to the channels defined in the
        channelConfiguration array.
    -->
    <key>mountpoints</key>
    <array>
        <!--
            This is a mountpoint configuration for the combined stream.
            Note that we have a secondary video channel here, which is
            used for the camera stream.
        -->
        <dict>
            <key>name</key>
            <string>Combined</string>
            <key>path</key>
            <string>/comb</string>
            <key>type</key>
            <string>combined</string>
            <key>properties</key>
            <dict>
                <key>videoChannel</key>
                <string>present0</string>
                <key>secondaryVideoChannel</key>
                <string>camera0</string>
                <key>audioChannel</key>
                <string>audio0</string>
            </dict>
        </dict>
        <!--
            A mountpoint configuration for a single stream.
            
            We use "single" instead of "combined" as the type here,
            and only specify a single video channel.
        -->
        <dict>
            <key>name</key>
            <string>Presentation</string>
            <key>path</key>
            <string>/presentation</string>
            <key>type</key>
            <string>single</string>
            <key>properties</key>
            <dict>
                <key>videoChannel</key>
                <string>present0</string>
                <key>audioChannel</key>
                <string>audio0</string>
            </dict>
        </dict>
    </array>
    <!--
        Specify the channel configuration here.

        A channel consists of a name, type, and properties.
        - The name is used to reference the channel in the mountpoints.
        - The type specifies the type of the channel.
        - The properties are specific to the channel type:
            - "V4L2": device (required)
            - "ALSA": device (required)
            - "videoTest": width (required), height (required)
            - "audioTest": channels (required)
            - (experimental) "custom": gstLaunchDescription (required)
    -->
    <key>channels</key>
    <array>
        <dict>
            <key>name</key>
            <string>present0</string>
            <key>type</key>
            <string>videoTest</string>
            <key>properties</key>
            <dict>
                <key>width</key>
                <integer>1920</integer>
                <key>height</key>
                <integer>1080</integer>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>camera0</string>
            <key>type</key>
            <string>videoTest</string>
            <key>properties</key>
            <dict>
                <key>width</key>
                <integer>1280</integer>
                <key>height</key>
                <integer>720</integer>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>audio0</string>
            <key>type</key>
            <string>audioTest</string>
            <key>properties</key>
            <dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>